.callout, .callout-header {
  position: relative;
  background-color: $white;
  border-top: rem-calc(3px) solid get-color(secondary);
  padding: $global-padding $global-padding*2 $global-padding*3;
  font-size:rem-calc(18px);
  margin: $global-margin*-12 auto $global-margin*4 auto;
  box-shadow: 1px 1px 6px 0 rgba(0,0,0,0.13);
  max-width:rem-calc(400px);
  @include breakpoint(medium) {
    max-width:rem-calc(600px);
  }
  h4 {
    margin-bottom: $global-margin;
  }
  .secondary.button {
    margin: 0;
  }
}
.callout-header {
  margin: $global-margin*-15 auto $global-margin*4 auto;
}