#contact {
  max-width: rem-calc(800px);
  padding: 0;
  .top {
    padding: $global-padding*5 $global-padding*4 0;
    h4 {
      margin-bottom: $global-margin;
    }
  }
  .bottom {
    background-color: #EFF3F1;
    padding: 0 $global-padding*4 $global-padding*5;
    h6 {
      color: #454C54;
      font-size: rem-calc(14px);
      font-weight: $global-weight-normal;
      margin: rem-calc(12px) 0 rem-calc(20px);
    }
  }
  .gform_footer, .gform_body {
    display: block;
  }
  .gform_footer {
    text-align: center;
    .button {
      padding: rem-calc(12px) rem-calc(105px);
      border-radius: rem-calc(21px);
      font-size: rem-calc(14px);
    }
  }
}