.downloads {
  background-color: #EFF3F1;
  padding: $global-padding*8 0 $global-padding*4;
  img {
    margin-bottom: $global-padding;
    border-radius: 100%;
  }
  .align-middle {
    margin-bottom: $global-margin*2;
  }
  .button {
    color: $white;
    border-radius: rem-calc(21px);
    font-weight: $global-weight-bold;
    text-transform: uppercase;
    padding: rem-calc(12px) rem-calc(25px);
    margin-top: rem-calc(12px);
  }
}