.fan-art {
  padding: $global-padding*5 0;
  h4 {
    margin-bottom: $global-margin*2;
  }
  img {
    width: 100%;
  }
  .slick-slide {
    height: auto;
  }
  .slick-slide::after {
    display: none;
  }
  .slick-prev {
    width: 67px;
    height: 67px;
    background-image: url('../images-min/prev-gray.min.png');
    @include breakpoint(xlarge) {
      left: rem-calc(-100px);
    }
    &:hover {
      background-image: url('../images-min/prev-gray.min.png');
    }
  }
  .slick-next{
    width: 67px;
    height: 67px;
    background-image: url('../images-min/next-gray.min.png');
    @include breakpoint(xlarge) {
      right: rem-calc(-100px);
    }
    &:hover {
      background-image: url('../images-min/next-gray.min.png');
    }
  }
}