.footer {
  padding: $global-padding*2 $global-padding;
  background-color: get-color(primary_light);
  color: $white;
  .menu.vertical {
    li {
      text-align: center;
      a {
        color: $white;
        @include breakpoint(small only) {
          padding-left: 0;
          justify-content: center !important;
        }
      }
    }
    li:first-child a {
      @include breakpoint(medium) {
        padding-left: 0;
      }
    }
    li:last-child a {
      @include breakpoint(medium) {
        padding-right: 0;
      }
    }
    &.large-horizontal a {
      @include breakpoint(medium only) {
        padding-left: 0;
      }
    }
  }
  .connected {
    margin-bottom: rem-calc(18px);
    @include breakpoint(small only) {
      justify-content: center;
    }
    h5 {
      color: $white;
      @include breakpoint(medium) {
      }
    }
  }
  .social {
    a {
      margin: 0 rem-calc(2px) rem-calc(18px);
      .fa-circle {
        color: get-color(primary);
      }
      .fa-facebook, .fa-twitter {
        color: $white;
      }
      &:hover .fa-circle {
        color: scale_color(get-color(primary), $lightness: -15%);
      }
    }
  }
  .subscribe {
    @include breakpoint(small only) {
      justify-content: center;
    }
    .column {
      @include breakpoint(small only) {
        flex:0 0 auto;
      }
    }
    input[type=email] {
      padding: rem-calc(12px) rem-calc(15px);
    }
    .gform_fields {
      margin: 0;
    }
    .ginput_container input {
      margin: 0 0 0.8rem 0;
    }
    .gform_body {
      width: 210px;
    }
    .gfield {
      width: 100%;
    }
    .gf_browser_gecko .gform_button.button {
      top: -27px;
    }
  }
  .copyright {
    color: #EFF3F1;
    font-size: rem-calc(14px);
    margin-top: rem-calc(40px);
    p {
      margin: 0;
    }
    a {
      color: $white;
    }
  }
}