.header {
  .header-title, .header-subtitle, .header-video {
    position: relative;
  }
  .header-title h1 {
    color: $white;
    text-shadow: 1px 1px 15px rgba($black,0.5);
    font-size: map-deep-get($header-styles, small, h3, font-size);
    @include breakpoint(medium) {
      font-size: map-deep-get($header-styles, medium, h3, font-size);
    }
  }
  .header-subtitle {
    text-shadow: 1px 1px 15px rgba($black,0.5);
    max-width: rem-calc(600px);
    margin: 0 auto;
    font-size: map-deep-get($header-styles, small, h5, font-size);
    @include breakpoint(medium) {
      font-size: map-deep-get($header-styles, medium, h5, font-size);
    }
  }
  .header-video {
    .fa {
      font-size:0;
      content: "";
      display: inline-block;
      width:rem-calc(97px);
      height:rem-calc(97px);
      background-image: url("../images-min/play.min.png");
      background-size:100%;
    }
  }
}
.header .header-no-link {
  padding: $global-padding*6 0 $global-padding*8;
}
.page-template-how-it-works .header {
  .header-title {
    h1 {
      font-size: map-deep-get($header-styles, small, h1, font-size);
      @include breakpoint(medium) {
        font-size: map-deep-get($header-styles, medium, h1, font-size);
      }
    }
  }
  .header-subtitle {
    max-width: rem-calc(830px);
    color: #D0D5D2;
    font-family: $header-font-family;
    font-size: map-deep-get($header-styles, small, h2, font-size);
    @include breakpoint(medium) {
      font-size: map-deep-get($header-styles, medium, h2, font-size);
    }
  }
}