.large-menu {
  padding: $global-padding*2 0 $global-padding 0;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.5);
  li a {
    color: #454C54;
    padding: $global-padding;
    &:hover {
      color: get-color(primary);
    }
  }
  li.button {
    margin: 0 0 0 $global-padding;
    padding: 0;
    a {
      color: $white;
      padding: $global-padding/2 $global-padding*2;
    }
  }
  .dropdown.menu > li.is-dropdown-submenu-parent {
    position: inherit;
    > a {
      padding: $global-padding;
      &::after {
        display: none;
      }
    }
    ul {
      background-color: get-color(primary);
      border: none;
      box-shadow: 0 1px 4px 0 rgba(0,0,0,0.5);
      li {
        flex: 0 0 auto;
        width: auto;
      }
      a {
        color: $white;
      }
    }
  }
  .is-dropdown-submenu.js-dropdown-active {
    display: flex;
    justify-content: center;
  }
}
.is-stuck {
  .large-menu {
    padding: $global-padding/2 0;
  }
}
.admin-bar .is-stuck {
  @include breakpoint(601px) {
    margin-top: rem-calc(46px) !important;
  }
  @include breakpoint(782px) {
    margin-top: rem-calc(32px) !important;
  }
}
.mobile-menu-bar {
  padding: $global-padding;
}
.sticky-container .mobile-menu {
  background-color: #454C54;
  a {
    color: $white;
    padding: $global-padding;
  }
  .button {
    border-radius: 0;
    margin: 0;
    padding:0;
    font-weight: normal;
    text-transform: none;
    font-size: rem-calc(14px);
  }
}
.menu-icon {
  width: rem-calc(38px);
  height: rem-calc(34px);
  background-image: url("../images-min/menu-icon.min.png");
  &::after {
    display: none;
  }
}

.navigation {
  margin-bottom: $global-margin*2;
  @include breakpoint(large) {
    margin-top: $global-margin*-10;
  }
  a {
    display: inline-block;
    font-size: 0;
    width: 67px;
    height: 67px;
  }
  .text-left a {
    background-image: url('../images-min/prev-gray.min.png');
  }
  .text-right a {
    background-image: url('../images-min/next-gray.min.png');
  }
}