.single-videos {
  .navigation {
    margin-top: 0;
  }
  .post {
    .content {
      margin-bottom: $global-margin*2;
    }
  }
}
.video-teaser {
  a {
    position: relative;
    width: 100%;
    display: inline-block;
    margin-bottom: $global-margin*2;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: rgba(get-color(primary), 0.6);
    }
    &:hover {
      opacity: 0.6;
    }
    img {
      width: 100%;
    }
    h4 {
      position: absolute;
      left: $global-padding;
      right: $global-padding;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      color: $white;
      margin: 0;
    }
  }
}