body.login {
  background-image: url('../images-min/Chessland_Illustration.min.jpg');
  background-size: cover;
  background-position: 100% 75%;
  #login_error, .message, .jetpack-sso .message {
    margin: 0;
  }
  .message + .message {
    border-top: 1px solid #ddd;
  }
  input[type=text]:focus, input[type=search]:focus, input[type=radio]:focus, input[type=tel]:focus, input[type=time]:focus,
  input[type=url]:focus, input[type=week]:focus, input[type=password]:focus, input[type=checkbox]:focus,
  input[type=color]:focus, input[type=date]:focus, input[type=datetime]:focus, input[type=datetime-local]:focus,
  input[type=email]:focus, input[type=month]:focus, input[type=number]:focus, select:focus, textarea:focus {
    border-color: #5F84C6;
    box-shadow: none;
  }
  .button-primary {
    background-color: #5F84C6;
    padding: 8px 16px;
    text-shadow: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
    &:hover {
      background: #416cb8;
    }
  }
  #nav, #backtoblog {
    font-size: 0;
    padding: 0;
    a {
      font-size: 16px;
      color: #FFF;
    }
  }
  #nav {
    a {
      display: inline-block;
      background-color: #5F84C6;
      padding: 8px 16px;
      &:hover {
        background: #416cb8;
        color: #fff;
      }
      &:first-of-type {
        margin-right: 16px;
        background-color: #E08C0F;
        &:hover {
          background: #b3700c;
        }
      }
    }
  }
}