@import "settings";
@import "font-awesome";
@import "foundation";
@include foundation-everything(true);
@import "jquery.fancybox";
@import "slick.scss";
@import "slick-theme.scss";
@import "supertheme/supertheme";
@import "partials/header";
@import "partials/footer";
@import "partials/navigation";
@import "partials/_fancybox";
@import "partials/steps";
@import "partials/callout";
@import "partials/downloads";
@import "partials/fan-art";
@import "partials/faq";
@import "partials/basic-content";
@import "partials/donors";
@import "partials/about";
@import "partials/success-stories";
@import "partials/videos";

*:focus {
  outline: none;
}
video, .video-wrapper {
  width: 100%;
  margin-bottom: $global-margin*2;
}
.transcript {
}
.transcript-content {
  display: none;
  background-color: $light-gray;
  border: 1px solid $medium-gray;
  padding: $global-padding*2;
  font-family: $code-font-family;
}

// forms
.gform_wrapper {
  text-align: right;
}
.gform_body {
  display: inline-block;
}
.gform_footer {
  display: inline-block;
}
.gfield_label {
  display: none;
}
.gform_button {
  margin: 0;
  background-color: get-color(secondary);
  padding: 0.85rem 2rem 0.85rem 0.85rem;
  top: -2px;
  left: -3px;
  position: relative;
  font-family: $header-font-family;
  font-weight: $global-weight-bold;
  text-transform: uppercase;
  line-height:1;
  border-bottom-right-radius: rem-calc(21px);
  border-top-right-radius: rem-calc(21px);
  &:hover, &:active, &:focus{
    background-color: scale-color(get-color(secondary), $lightness: -15%);
    outline: none;
  }
}
.gform_fields {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}
.gform_wrapper .validation_error {
  color: get-color(alert);
  text-align: left;
  margin-bottom: $global-margin;
}
.validation_message {
  color: get-color(alert);
  margin-top: $global-margin*-1;
  margin-bottom: $global-margin;
}
.gfield_error {
  [type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'],
  [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'],
  [type='time'], [type='url'], [type='color'], textarea {
    color: get-color(alert);
    border-color: get-color(alert);
  }
}

// button
.secondary.button {
  color: $white;
  text-transform: uppercase;
  font-weight: $global-weight-bold;
  margin-bottom: $global-margin*2;
  border-radius: rem-calc(21px);
  padding: rem-calc(10px) rem-calc(25px);
  &:hover {
    color: $white;
  }
}

// scroll to top
.scroll-top {
  border-radius: 100%;
  @include breakpoint(medium) {
    display: none !important;
  }
}

// accordion
.accordion-title::before {
  color: get-color(secondary);
}

// slick
.slider {
  height: rem-calc(720px);
  margin: 0;
}
.slick-dotted.slick-slider {
  margin: 0;
}
.slick-slide {
  height:100%;
  position: relative;
  background-size:cover;
  &::after {
    position: absolute;
    content: "";
    display: block;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color: rgba(get-color(primary), 0.7);
  }
  .row {
    padding: $global-padding*5 $global-padding $global-margin*10 $global-padding;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
    font-size: map-deep-get($header-styles, small, h6, font-size);
    @include breakpoint(small only) {
      width: calc(100% - 80px);
    }
    @include breakpoint(medium) {
      max-width:rem-calc(650px);
      font-size: map-deep-get($header-styles, medium, h5, font-size);
    }
    .headshot {
      display: inline-block;
      margin-bottom: $global-margin;
    }
    h4 {
      color: $white;
      margin-bottom: $global-padding*2;
    }
    blockquote {
      color: $white;
      margin-bottom: $global-padding*2;
      padding: 0;
      border: none;
      position: relative;
      p:first-of-type::before {
        content: '';
        display:inline-block;
        width: 49px;
        height: 39px;
        background-image:url('../images-min/testimonial-quote.min.png');
        background-size: 100%;
        position: relative;
        top: 4px;
        left: 16px;
        z-index: -1;
      }
      p:last-of-type::after {
        content: '';
        display:inline-block;
        width: 49px;
        height: 39px;
        background-image:url('../images-min/testimonial-quote.min.png');
        background-size: 100%;
        position: relative;
        top: 16px;
        left: -16px;
        z-index: -1;
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
        margin-top: -20px;
      }
      p {
        line-height: rem-calc(30px);
        color: $white;
        position: relative;
        z-index: 2;
      }
    }
    a {
      color: #EDAC4B;
      font-family: $header-font-family;
    }
  }
}
.slick-prev, .slick-next {
  width: rem-calc(65px);
  height: rem-calc(65px);
  opacity: 0.8;
  z-index: 1;
  &:before {
    content: "";
  }
  &:hover {
    content: "";
    opacity: 1;
  }
}
.slick-prev {
  background-image: url("../images-min/prev.min.png");
  left: rem-calc(25px);
  @include breakpoint(small only) {
    transform:translateY(-50%) scale(0.5);
    left: 0;
  }
  @include breakpoint(xlarge) {
    left: calc(50% - 600px + 30px - 15px);
  }
  &:hover, &:focus {
    background-image: url("../images-min/prev.min.png");
  }
}
.slick-next {
  background-image: url("../images-min/next.min.png");
  right: rem-calc(25px);
  @include breakpoint(small only) {
    transform:translateY(-50%) scale(0.5);
    right: 0;
  }
  @include breakpoint(xlarge) {
    right: calc(50% - 600px + 30px - 15px);
  }
  &:hover, &:focus {
    background-image: url("../images-min/next.min.png");
  }
}
.slick-dots {
  bottom: rem-calc(80px);
  @include breakpoint(small only) {
    bottom: rem-calc(50px);
  }
  li button {
    background-color: rgba($white, 0.5);
    border-radius: 100%;
    &::before {
      content: "";
    }
    &:hover {
      background-color: rgba($white, 1);
    }
  }
  .slick-active button {
    background-color: rgba($white, 1);
  }
}

// lead
.lead {
  font-size: rem-calc(24px);
  &:first-letter {
    float: left;
    font-size: rem-calc(80px);
    line-height: 1rem;
    margin: 36px 5px 20px 0;
  }
}

// categories
.categories {
  margin-bottom: $global-margin;
}

// share this
.share {
  h4 {
    color: $body-font-color;
  }
  .fa-stack {
    width: rem-calc(48px);
    height: rem-calc(48px);
    line-height: rem-calc(48px);
  }
  .fa-stack-2x {
    font-size: rem-calc(48px);
  }
  .st-custom-button {
    display: inline-block;
    .fa-circle {
      color: get-color(primary);
    }
    &:hover {
      cursor: pointer;
      .fa-circle {
        color: scale-color(get-color(primary), $lightness: -15%);
      }
    }
  }
}