{% if sharethis %}
{% if title is not defined or title%}<h4>Share</h4>{% endif %}
<nav class="sharethis">
    <div class='st-custom-button' data-network="facebook">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
        </span>
    </div>
    <div class='st-custom-button' data-network="twitter">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
        </span>
    </div>
    <div class='st-custom-button' data-network="linkedin">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
        </span>
    </div>
    <div class='st-custom-button' data-network="pinterest">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
        </span>
    </div>
    <div class='st-custom-button' data-network="email">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
        </span>
    </div>
</nav>
{% endif %}