{% set header_date = 0 %}
{% extends 'base.html.twig' %}
{% block body %}
    <section class="basic-content">
        <div class="row">
            <div class="small-12 columns">
                <div class="post">
                    <div class="content">
                        {{ post.post_content|apply_filters('the_content') }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}