{% set header_date = 0 %}
{% extends 'base.html.twig' %}
{% block body %}
    <section class="basic-content">
        <div class="row">
            <div class="small-12 medium-8 large-9 columns">
                <div class="post">
                    <div class="content">
                        {{ post.post_content }}
                    </div>
                </div>
            </div>
            <div class="small-12 medium-4 large-3 columns">
                {% include 'partials/sidebar.html.twig' %}
            </div>
        </div>
    </section>
{% endblock %}