{% extends 'base.html.twig' %}
{% set header_author = 1 %}
{% block body %}
    <section class="basic-content">
        <div class="navigation">
            <div class="row">
                <div class="column text-left">
                    {% if post.prev.link %}
                        <a href="{{ post.prev.link }}"><i class="fa fa-angle-left"></i> Previous</a>
                    {% endif %}
                </div>
                <div class="column text-right">
                    {% if post.next.link %}
                        <a href="{{ post.next.link }}">Next <i class="fa fa-angle-right"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 medium-8 large-9 columns">
                <div class="post">
                    <div class="content">
                        {{ function('the_content', post.post_content) }}
                    </div>
                </div>
            </div>
            <div class="small-12 medium-4 large-3 columns">
                {% include 'partials/sidebar.html.twig' %}
            </div>
        </div>
    </section>
{% endblock %}