.header {
  .box {
    background-color: get-color(primary);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
  }
  .header-link, .header-no-link {
    display: block;
    color: $white;
    padding: $global-padding*6 $global-padding;
    position: relative;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(get-color(primary), 0);
      transition: background-color 0.25s ease-out;
      z-index: 0;
    }
    .header-title, .header-date {
      position: relative;
      z-index: 1;
    }
    .header-date {
      color: $light-gray;
    }
    .header-video {
      color: $white;
      font-size: map-deep-get($header-styles, small, h3, font-size);
      &:hover {
        color: $anchor-color-hover;
      }
      &:focus {
        outline: none;
      }
      @include breakpoint(medium) {
        font-size: map-deep-get($header-styles, medium, h3, font-size);
      }
    }
  }
  .header-link:hover::before {
    background-color: rgba(scale-color(get-color(primary), $lightness: -15%), 1);
  }
  .has-thumbnail .header-link::before, .has-thumbnail .header-no-link::before {
    background-color: rgba(scale-color(get-color(primary), $lightness: -15%), 0.6);
  }
  .has-thumbnail .header-link:hover::before, .has-thumbnail .header-no-link:hover::before {
    background-color: rgba(scale-color(get-color(primary), $lightness: -15%), 0.8);
  }
  .author {
    text-align: center;
    position: relative;
    top: rem-calc(-96px/2) - 1rem/2;
    width: rem-calc(96px) + 1rem;
    margin: 0 auto rem-calc(-96px/2) - 1rem/2 + $global-padding;
    .author-link {
      display: block;
      color: $dark-gray;
      .author-profile {
        border: 0.5rem solid $white;
        border-radius: 100%;
        position: relative;
        img {
          border-radius: 100%;
        }
        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background-color: rgba($black, 0);
          transition: background-color 0.25s ease-out;
          z-index: 0;
          border-radius: 100%;
        }
      }
      &:hover .author-profile::after {
        background-color: rgba($black, 0.15);
      }
    }
  }
}